:root {
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colores */
  ---colorPrimary: #08b7d0;
  ---colorSecundary: #8b3dff;
  ---gris: #3b3b3b;
  ---blanco: #ffffff;
  ---oscuro: #1f1e1e;
  ---grisClaro: #e1e1e1;

  /* fuentes */
  ---fuenteUno: 'Roboto', sans-serif;
  ---fuenteDos: 'Lato', sans-serif;

  /* separadores */
  ---separar: 5rem;
}


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}